# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc

# Env files
.env

# Uploads
uploads/

# OS files
.DS_Store
Thumbs.db
node_modules/
backend/node_modules/
__pycache__/
*.pyc
.env
uploads/
.DS_Store
Thumbs.db
