# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc

# Env files
.env

# Uploads (temporary images)
uploads/

# Models (optional - agar large hain)
*.h5
*.keras
*.tflite

# OS files
.DS_Store
Thumbs.db